@import 'tailwindcss';

@theme {
  --color-background: #282a36;
  --color-text: #f8f8f2;
  /* --color-background: #ffffff; */
}

body {
  /* background-color: #282a36; */
  background-color: var(--color-background);
}
